<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.eclipse.ui.editors">
        <editor
                name="Rusty Cage"
                extensions="rs, rc"
                icon="$nl$/icons/rust_16x16.png"
                contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
                class="org.baksia.rustycage.editors.RustEditor"
                id="org.baksia.rustycage.editors.RustEditor">
            <contentTypeBinding
                    contentTypeId="org.baksia.rustycage.rustfile">
            </contentTypeBinding>
        </editor>
    </extension>
    <extension
            id="org.baksia.rustycage.rustBuilder"
            name="Rust Project Builder"
            point="org.eclipse.core.resources.builders">
        <builder
                hasNature="true">
            <run
                    class="org.baksia.rustycage.builder.RustBuilder">
            </run>
        </builder>
    </extension>
    <extension
            id="rustNature"
            name="Rust Project Nature"
            point="org.eclipse.core.resources.natures">
        <runtime>
            <run
                    class="org.baksia.rustycage.builder.RustNature">
            </run>
        </runtime>
        <builder
                id="org.baksia.rustycage.rustBuilder">
        </builder>
    </extension>
    <extension
            point="org.eclipse.ui.perspectives">
        <perspective
                class="org.baksia.rustycage.PerspectiveFactory"
                fixed="false"
                icon="$nl$/icons/rust_16x16.png"
                id="org.baksia.rustycage.perspective"
                name="Rust">
            <description>
                Rust perspective for Rust development
            </description>
        </perspective>
    </extension>
    <extension
            point="org.eclipse.ui.newWizards">
        <category
                id="RustyCage"
                name="Rust Wizards">
        </category>
        <wizard
                category="RustyCage"
                class="org.baksia.rustycage.wizards.RustNewFileWizard"
                finalPerspective="org.baksia.rustycage.perspective"
                icon="$nl$/icons/rust_16x16.png"
                id="org.baksia.rustycage.wizards.RustNewFileWizard"
                name="Rust file"
                project="true">
        </wizard>
        <wizard
              category="RustyCage"
              class="org.baksia.rustycage.wizards.RustProjectWizard"
              descriptionImage="$nl$/icons/rust.png"
              finalPerspective="org.baksia.rustycage.perspective"
              icon="$nl$/icons/rust_16x16.png"
              id="org.baksia.rustycage.wizards.RustProjectWizard"
              name="Rust Project"
              project="true">
        </wizard>
    </extension>
    <extension
            point="org.eclipse.core.runtime.contentTypes">
        <file-association
                content-type="rustSource"
                file-extensions="rs, rc">
        </file-association>
        <content-type
              base-type="org.eclipse.core.runtime.text"
              describer="org.baksia.rustycage.RustConentDescriber"
              file-extensions="rs, rc"
              id="org.baksia.rustycage.rustfile"
              name="Rust file">
        </content-type>
    </extension>
    <extension
            id="Rust"
            name="Rust"
            point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
                targetID="RustyCage.perspective">
            <view
                    closeable="false"
                    id="org.eclipse.ui.navigator.ProjectExplorer"
                    minimized="false"
                    relationship="stack"
                    visible="true">
            </view>
            <view
                    id="org.eclipse.ui.console.ConsoleView"
                    minimized="false"
                    relationship="bottom"
                    visible="true">
            </view>
        </perspectiveExtension>
    </extension>
    <extension
            id="rustProblem"
            name="Rust Problem"
            point="org.eclipse.core.resources.markers">
        <super
                type="org.eclipse.core.resources.problemmarker">
        </super>
        <persistent
                value="true">
        </persistent>
        <super
                type="org.eclipse.core.resources.textmarker">
        </super>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
                class="org.baksia.rustycage.preferences.RustPreferencePage"
                id="org.baksia.rustycage.preferences.RustPreferencePage"
                name="Rust">
        </page>
    </extension>
    <extension
            point="org.eclipse.core.runtime.preferences">
        <initializer
                class="org.baksia.rustycage.preferences.PreferenceInitializer">
        </initializer>
    </extension>
    <extension
            point="org.eclipse.ui.themes">
        <theme
                id="org.baksia.rustycage.ui.theme"
                name="Rust Theme">
            <colorOverride
                    id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
                    value="218,165,32">
            </colorOverride>
            <colorOverride
                    id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
                    value="255,193,37">
            </colorOverride>
        </theme>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             type="new"
             wizardId="org.baksia.rustycage.wizards.RustNewFileWizard">
          <enablement></enablement>
       </commonWizard>
       <commonWizard
             type="new"
             wizardId="org.baksia.rustycage.wizards.RustProjectWizard">
          <enablement></enablement>
       </commonWizard>
    </extension>
    <extension
          point="org.eclipse.e4.ui.css.swt.theme">
       <theme
             basestylesheeturi="css/darkrust.css"
             id="org.baksia.theme.darkrust"
             label="Dark Rust Theme">
       </theme>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="RustyCage.commands.category"
             name="Rust">
       </category>
       <command
             categoryId="RustyCage.commands.category"
             id="org.baksia.rustycage.commands.compileCommand"
             name="Compile">
       </command>
       <command
             categoryId="RustyCage.commands.category"
             id="org.baksia.rustycage.commands.runCommand"
             name="Run">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.baksia.rustycage.compile.RustCompile"
             commandId="org.baksia.rustycage.commands.compileCommand">
       </handler>
       <handler
             class="org.baksia.rustycage.run.RustRun"
             commandId="org.baksia.rustycage.commands.runCommand">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.baksia.rustycage.commands.compileCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+c">
       </key>
       <key
             commandId="org.baksia.rustycage.commands.runCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+r">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="true"
             locationURI="menu:org.eclipse.ui.main.menu?after=additions">
          <menu
                id="rustycage.actions.compileActions"
                label="Rust"
                mnemonic="M">
             <command
                   commandId="org.baksia.rustycage.commands.compileCommand"
                   icon="icons/Compile.gif"
                   id="org.baksia.rustycage.commands.compileCommand"
                   label="Rust Compile"
                   mnemonic="S"
                   style="push"
                   tooltip="Compiles rust files and crates">
             </command>
             <command
                   commandId="org.baksia.rustycage.commands.runCommand"
                   icon="icons/Run.gif"
                   label="Run"
                   style="push"
                   tooltip="Run Rust files">
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="RustyCage.toolbars.rustToolbar">
             <command
                   commandId="org.baksia.rustycage.commands.compileCommand"
                   icon="icons/Compile.gif"
                   id="RustyCage.toolbars.sampleCommand"
                   label="Compile"
                   style="push"
                   tooltip="Compile Rust files">
             </command>
             <command
                   commandId="org.baksia.rustycage.commands.runCommand"
                   icon="icons/Run.gif"
                   label="Run"
                   style="push">
             </command>
          </toolbar>
       </menuContribution>
    </extension>
</plugin>
