<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.eclipse.ui.editors">
        <editor
                name="Rusty Cage"
                extensions="rs"
                icon="$nl$/icons/rust_16x16.png"
                contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
                class="org.baksia.rustycage.editors.RustEditor"
                id="org.baksia.rustycage.editors.RustEditor">
            <contentTypeBinding
                    contentTypeId="org.baksia.rustycage.rustfile">
            </contentTypeBinding>
        </editor>
    </extension>
    <extension
            id="org.baksia.rustycage.rustBuilder"
            name="Rust Project Builder"
            point="org.eclipse.core.resources.builders">
        <builder
                hasNature="true">
            <run
                    class="org.baksia.rustycage.builder.RustBuilder">
            </run>
        </builder>
    </extension>
    <extension
            id="rustNature"
            name="Rust Project Nature"
            point="org.eclipse.core.resources.natures">
        <runtime>
            <run
                    class="org.baksia.rustycage.builder.RustNature">
            </run>
        </runtime>
        <builder
                id="org.baksia.rustycage.rustBuilder">
        </builder>
    </extension>
    <extension
            point="org.eclipse.ui.perspectives">
        <perspective
                class="org.baksia.rustycage.PerspectiveFactory"
                fixed="false"
                icon="$nl$/icons/rust_16x16.png"
                id="org.baksia.rustycage.perspective"
                name="Rust">
            <description>
                Rust perspective for Rust development
            </description>
        </perspective>
    </extension>
    <extension
            point="org.eclipse.ui.newWizards">
        <category
                id="RustyCage"
                name="Rust Wizards">
        </category>
        <wizard
                category="RustyCage"
                class="org.baksia.rustycage.wizards.RustNewFileWizard"
                finalPerspective="org.baksia.rustycage.perspective"
                icon="$nl$/icons/rust_16x16.png"
                id="org.baksia.rustycage.wizards.RustNewFileWizard"
                name="Rust file"
                project="true">
        </wizard>
        <wizard
              category="RustyCage"
              class="org.baksia.rustycage.wizards.RustProjectWizard"
              descriptionImage="$nl$/icons/rust.png"
              finalPerspective="org.baksia.rustycage.perspective"
              icon="$nl$/icons/rust_16x16.png"
              id="org.baksia.rustycage.wizards.RustProjectWizard"
              name="Rust Project"
              project="true">
        </wizard>
    </extension>
    <extension
            point="org.eclipse.core.runtime.contentTypes">
        <file-association
                content-type="rustSource"
                file-extensions="rs, rc">
        </file-association>
        <content-type
              base-type="org.eclipse.core.runtime.text"
              describer="org.baksia.rustycage.RustConentDescriber"
              file-extensions="rs, rc"
              id="org.baksia.rustycage.rustfile"
              name="Rust file">
        </content-type>
    </extension>
    <extension
            id="Rust"
            name="Rust"
            point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
                targetID="RustyCage.perspective">
            <view
                    closeable="false"
                    id="org.eclipse.ui.navigator.ProjectExplorer"
                    minimized="false"
                    relationship="stack"
                    visible="true">
            </view>
            <view
                    id="org.eclipse.ui.console.ConsoleView"
                    minimized="false"
                    relationship="bottom"
                    visible="true">
            </view>
        </perspectiveExtension>
    </extension>
    <extension
            id="rustProblem"
            name="Rust Problem"
            point="org.eclipse.core.resources.markers">
        <super
                type="org.eclipse.core.resources.problemmarker">
        </super>
        <persistent
                value="true">
        </persistent>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
                class="org.baksia.rustycage.preferences.RustPreferencePage"
                id="org.baksia.rustycage.preferences.RustPreferencePage"
                name="Rust">
        </page>
    </extension>
    <extension
            point="org.eclipse.core.runtime.preferences">
        <initializer
                class="org.baksia.rustycage.preferences.PreferenceInitializer">
        </initializer>
    </extension>
    <extension
            point="org.eclipse.ui.actionSets">
        <actionSet
                id="RustyCage.actionSet"
                label="Rust Action Set"
                visible="true">
            <menu
                    id="rustMenu"
                    label="&amp;Rust ">
                <separator
                        name="rustGroup">
                </separator>
            </menu>
            <action
                    class="org.baksia.rustycage.compile.RustCompile"
                    icon="$nl$/icons/Compile.gif"
                    id="rustycage.actions.compileActions"
                    label="Copmpile"
                    menubarPath="rustMenu/compileGroup"
                    style="push"
                    toolbarPath="rustGroup"
                    tooltip="Compiles Rust file">
            </action>
            <action
                    id="RustyCage.runAction"
                    label="Run"
                    style="push">
            </action>
            <action
                    class="org.baksia.rustycage.run.RustRun"
                    icon="$nl$/icons/Run.gif"
                    id="rustycage.actions.runActions"
                    label="Run"
                    menubarPath="rustMenu/runGroup"
                    style="push"
                    toolbarPath="rustGroup"
                    tooltip="Run rust file">
            </action>
        </actionSet>
    </extension>
    <extension
            point="org.eclipse.ui.themes">
        <theme
                id="org.baksia.rustycage.ui.theme"
                name="Rust Theme">
            <colorOverride
                    id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
                    value="218,165,32">
            </colorOverride>
            <colorOverride
                    id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
                    value="255,193,37">
            </colorOverride>
        </theme>
    </extension>
</plugin>
