<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Rusty Cage"
            extensions="rs"
            icon="icons/rust.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.baksia.rustycage.editors.RustEditor"
            id="org.baksia.rustycage.editors.RustEditor">
      </editor>
   </extension>

</plugin>
